.card__engraving {
  position: absolute;
  top: -10px;
  right: 60px;
  transform: rotate(-90deg) translateY(50%);
  transform-origin: right center;
  
  color: #2222225b;
  font-size: 50px;
  font-weight: 900;
  white-space: nowrap;
}
