.create__card {
  min-height: 500px;
  width: 300px;
  background-color: #2222225b;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  padding: 25px 0;box-sizing: border-box;
  outline: 1px solid #222222af;
}

.create__card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #2222225b;
}