.developing__block {
  width: max-content;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(100px);
}

.developing__block.right {
  align-self: flex-end;
  align-items: flex-end;
}