.custom-cursor1 {
  width: 5px;
  height: 5px;
  position: fixed;
  pointer-events: none;
  z-index: 20000;
  backdrop-filter: invert(1);
  mix-blend-mode: difference;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.custom-cursor1.cursor-hover {
  width: 30px;
  height: 30px;
}

.custom-cursor1.cursor-click {
  width: 15px;
  height: 15px;
}


.custom-cursor2 {
  width: 5px;
  height: 5px;
  position: fixed;
  pointer-events: none;
  z-index: 20000;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, background-color 0.3s ease-in;
}

.custom-cursor2::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  transform: translate(-50%, -50%) translate(var(--after-x, 0px), var(--after-y, 0px));
  transition: transform 0.2s linear, width .3s, height .3s;
}

.custom-cursor2.cursor-hover {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}

.custom-cursor2.cursor-click {
  background-color: rgba(255, 255, 255, 0.2);
}

.custom-cursor2.cursor-click::after {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}