.preloader {
    font-family: 'Press Start 2P', monospace;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    z-index: 1000;
    opacity: 1;
    transition: .5s;
}
.preloader.hidden {
    opacity: 0;
    visibility: hidden;
}