.start__scroll-spoiler {
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.25) 30%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.25) 70%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
  animation: shine 5s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
