.scene-3d {
  position: fixed;
  inset: 0;
  width: 100vw !important;
  height: calc(100vh + 55px) !important;
  z-index: 0;
  transform: none !important;
  translate: none !important;
  scale: 1 !important;
  pointer-events: none;
  
  transition: opacity 0.6s ease;
  background-color: black;
}

.scene-3d.hidden {
  opacity: 0;
  pointer-events: none;
}