.start__screen {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.start__screen_1 {
  position: sticky;
  top: 0;
}